body {
  font-family: OhmegaSans-Regular, serif;
}

.container {
  display: grid;
  grid-template-columns:  repeat(4, 25%);
  grid-auto-rows: minmax(150px, auto);  
}

.header {
 background: #161032;
 grid-column: 1 / 6;
 grid-row: 1;
  color: #F8C7CC;
}

.header p, .header span {
  font-size: 70px;
  display: block;
  right: 0;
  position: absolute;
  margin: 10px;
}

span {
  color: pink;
  font-family: OhmegaSans-Regular, monospace;
}

#top-albums {
  color: #161032;
  font-size: 70px;
  margin: 20px;
  position: absolute;
}

.header-two {
  background: #F8C7CC;
  grid-row: 2;
  grid-column: 1 / 6;
}

.card-row {
  background: #F8C7CC;
  grid-row: 3 / span 2;
  grid-column: 1 / 6;
}

.card-row-two {
  background: #F8C7CC;
  grid-row: 5/ span 2;
  grid-column: 1 / 6;
}

.card {
  background: white;
  height: 360px;
  width: 320px;
  margin: 20px 0px 20px 25px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 1px 2px 2px rgba(0,0,0,.7);
  font-family: monospace;
  text-align: left;
}

img {
  width: 320px;
  margin: 0px 0px -580px 0px;
}

i {
  position: relative;
}

#admin {
  float: right;
  color: lightblue;
  margin: 40px;
}

#act {
  color: lightgray;
   margin: 15px;
}

#inact {
  color: darkgray;
   margin: 15px;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

h2 {
  font-size: 24px;
  margin: 10px;
}

h3 {
  font-size: 14px;
  margin: 10px;
  color: darkgray;
}

.shadow-box {
  margin: 15px;
  background: lightgray;
  word-wrap: break-word;
  padding: 1px;
}

.number-display {
  color: #161032;
  font-size: 42px;
  margin-left: 15px;
}

#pic-box div{
   z-index: 9999;
   position: fixed;
   margin: 280px 250px 0px;
   color: lightgray;
}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid #fff;
    color: black;
    border-radius: 50%;
    outline: none;
    bottom: 0;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 90px;
}

@font-face {
    font-family: OhmegaSans-Regular;
    src: url("./OhmegaSans-Regular.otf") format("opentype");
}
